<a href="https://colab.research.google.com/github/mugambiian/C-coding/blob/main/Football_Score_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mchezo pesa Football prediction 

We wil attempt to predict the result of a game between team 1 and team 2, based on who's home and who's away, and on whether or not the game is friendly and include rank in our trainning.
Approaches 

1: Polynomial approach
What to train given:

            Rank of home team
            Rank of away team
            Tournament type

Model 1: Predict how many goals the home team scores.

Model 2: Predict how many goals the away team scores.




2: Logistic approach

Feature Engineering: Figure out from the home team’s perspective if the game is a Win, Lose or Draw (W, L, D)

Metrics of Success

In [2]:
# we import the libraries we need
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, cross_val_score
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error, accuracy_score, f1_score, confusion_matrix
import datetime as dt

In [3]:
# We then load our first dataset

Results = pd.read_csv("/content/results.csv")
Results

             date         home_team  ...   country  neutral
0      1872-11-30          Scotland  ...  Scotland    False
1      1873-03-08           England  ...   England    False
2      1874-03-07          Scotland  ...  Scotland    False
3      1875-03-06           England  ...   England    False
4      1876-03-04          Scotland  ...  Scotland    False
...           ...               ...  ...       ...      ...
40834  2019-07-18    American Samoa  ...     Samoa     True
40835  2019-07-18              Fiji  ...     Samoa     True
40836  2019-07-19           Senegal  ...     Egypt     True
40837  2019-07-19        Tajikistan  ...     India     True
40838  2019-07-20  Papua New Guinea  ...     Samoa     True

[40839 rows x 9 columns]

In [4]:
#  We look at the data types for the various columns
Results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40839 entries, 0 to 40838
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        40839 non-null  object
 1   home_team   40839 non-null  object
 2   away_team   40839 non-null  object
 3   home_score  40839 non-null  int64
 4   away_score  40839 non-null  int64
 5   tournament  40839 non-null  object
 6   city        40839 non-null  object
 7   country     40839 non-null  object
 8   neutral     40839 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB

The object data type will beed to be changed to something more appropriate for manipulation

In [5]:
# we check for null values

Results.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [11]:
#We check for duplicated values
Results.duplicated().any()

False

In [14]:
#we load our second dataset
Rankings = pd.read_csv('/content/fifa_ranking.csv')
Rankings

       rank country_full  ... confederation   rank_date
0         1      Germany  ...          UEFA  1993-08-08
1         2        Italy  ...          UEFA  1993-08-08
2         3  Switzerland  ...          UEFA  1993-08-08
3         4       Sweden  ...          UEFA  1993-08-08
4         5    Argentina  ...      CONMEBOL  1993-08-08
...     ...          ...  ...           ...         ...
57788   206     Anguilla  ...      CONCACAF  2018-06-07
57789   206      Bahamas  ...      CONCACAF  2018-06-07
57790   206      Eritrea  ...           CAF  2018-06-07
57791   206      Somalia  ...           CAF  2018-06-07
57792   206        Tonga  ...           OFC  2018-06-07

[57793 rows x 16 columns]

In [15]:
#  We look at the data types for the various columns
Rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   rank                     57793 non-null  int64
 1   country_full             57793 non-null  object
 2   country_abrv             57793 non-null  object
 3   total_points             57793 non-null  float64
 4   previous_points          57793 non-null  int64
 5   rank_change              57793 non-null  int64
 6   cur_year_avg             57793 non-null  float64
 7   cur_year_avg_weighted    57793 non-null  float64
 8   last_year_avg            57793 non-null  float64
 9   last_year_avg_weighted   57793 non-null  float64
 10  two_year_ago_avg         57793 non-null  float64
 11  two_year_ago_weighted    57793 non-null  float64
 12  three_year_ago_avg       57793 non-null  float64
 13  three_year_ago_weighted  57793 non-null  float64
 14  confederation            57793 non-null  object
 15  rank_date                57793 non-null  object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB

As before the object data type will need to be edited to a more suitable tyoe for manipulation

In [ ]:
#we take a closer look at our dataset
Rankings.describe()

               rank  total_points  ...  three_year_ago_avg  three_year_ago_weighted
count  57756.000000  57756.000000  ...        57756.000000             57756.000000
mean     101.618118    121.971151  ...           59.114466                11.822922
std       58.635096    260.479191  ...          135.540135                27.108034
min        1.000000      0.000000  ...            0.000000                 0.000000
25%       51.000000      0.000000  ...            0.000000                 0.000000
50%      101.000000      0.000000  ...            0.000000                 0.000000
75%      152.000000     91.500000  ...           20.795000                 4.162500
max      209.000000   1775.030000  ...         1200.770000               240.150000

[8 rows x 12 columns]

In [16]:
# we check for null values

Rankings.isnull().sum()

rank                       0
country_full               0
country_abrv               0
total_points               0
previous_points            0
rank_change                0
cur_year_avg               0
cur_year_avg_weighted      0
last_year_avg              0
last_year_avg_weighted     0
two_year_ago_avg           0
two_year_ago_weighted      0
three_year_ago_avg         0
three_year_ago_weighted    0
confederation              0
rank_date                  0
dtype: int64

In [17]:
#We check for duplicated values
Rankings.duplicated().any()

True

In [20]:
#we drop our duplicated values
Rankings.drop_duplicates(keep='first', inplace = True)

In [21]:
#We confirm that the duplicated values have been dropped
Rankings.duplicated().any()

False

In [37]:
#renaming the columns
Rankings = Rankings.rename(columns = {
    'country_full' : 'Country_Full',
    'country_abrv' : 'Country_Abrv',
    'total_points' : 'Total_Points',
    'rank_change' : 'Rank_Change',
    'cur_year_avg' : 'Cur_year_Average',
    'cur_year_avg_weighted' : 'Cur_Year_Avg_Weighted',
    'last_year_avg' : 'Last_Year_Avg',
    'last_year_avg_weighted' : 'Last_Year_Avg_Weighted',
    'two_year_ago_avg' : 'Level_of_Education',
    'two_year_ago_weighted' : 'Two_Year_Ago_Weighted',
    'three_year_ago_avg' : 'Three_Year_Ago_Avg',
    'three_year_ago_weighted' : 'Three_Year_Ago_Weighted',
     'confederation' : 'Confederation',
    'rank_date' : 'Ranking_Date'

})
Rankings

       rank Country_Full  ... Confederation       Date
0         1      Germany  ...          UEFA 1993-08-08
1         2        Italy  ...          UEFA 1993-08-08
2         3  Switzerland  ...          UEFA 1993-08-08
3         4       Sweden  ...          UEFA 1993-08-08
4         5    Argentina  ...      CONMEBOL 1993-08-08
...     ...          ...  ...           ...        ...
57788   206     Anguilla  ...      CONCACAF 2018-06-07
57789   206      Bahamas  ...      CONCACAF 2018-06-07
57790   206      Eritrea  ...           CAF 2018-06-07
57791   206      Somalia  ...           CAF 2018-06-07
57792   206        Tonga  ...           OFC 2018-06-07

[57756 rows x 16 columns]

In [36]:
#We 
chnage our date to date time 
Rankings.Date = pd.to_datetime(Rankings.Date)

In [41]:
We need to split the date into year and month
Rankings['year'] = Rankings.Date.dt.year
Rankings['Month'] = Rankings.Date.dt.month
Rankings

       rank Country_Full Country_Abrv  ...       Date  year  Month
0         1      Germany          GER  ... 1993-08-08  1993      8
1         2        Italy          ITA  ... 1993-08-08  1993      8
2         3  Switzerland          SUI  ... 1993-08-08  1993      8
3         4       Sweden          SWE  ... 1993-08-08  1993      8
4         5    Argentina          ARG  ... 1993-08-08  1993      8
...     ...          ...          ...  ...        ...   ...    ...
57788   206     Anguilla          AIA  ... 2018-06-07  2018      6
57789   206      Bahamas          BAH  ... 2018-06-07  2018      6
57790   206      Eritrea          ERI  ... 2018-06-07  2018      6
57791   206      Somalia          SOM  ... 2018-06-07  2018      6
57792   206        Tonga          TGA  ... 2018-06-07  2018      6

[57756 rows x 18 columns]